<template name="searchItems">
	<div class="col-lg-4">
		<h2>Safari bug warning!</h2>
		<p class="text-danger">12121</p>
		<p>3133vdsv</p>
		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2>Heading</h2>
		<p>33333 </p>
		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2>Heading</h2>
		<p>2222</p>
		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	</div>
	<!-- {{>header}} 
	<div class="box">
		<h1>PRICER</h1>
		<input id="searchInput" name="searchInput" type="text" clas="form-control" style="width: 100%;"/>
	</div>	-->
</template>