<template name="addPurchase">
	{{> addShop}}
    {{> addItem}}
	<form class="main form">
		<div class="page-header">
			<div class="row">
				<div class="col-md-4">
					<h1>Добавление покупки</h1>
				</div>
				<div class="col-md-3">
                    {{#if allowSavePurchase}}
                        <button type="submit" value="Сохранить" class="btn btn-primary no-wrap" data-action="gotoAddPurchase">
                        <span class="glyphicon glyphicon-ok"></span> Сохранить
                        </button>
                    {{/if}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<label class="control-label" for="shopName">Магазин</label>
				<div class="controls">
					{{> inputAutocomplete settings=settings id="shopName" class="form-control" placeholder="Название магазина" name="shopName" data-supplier-id="new"}}
				</div>
			</div>

			<div class="col-md-2">
				<label class="control-label" for="datePurchase">Дата</label>
				<div class="controls">
					<input type="text" class="form-control" id="datePurchase" name="datePurchase" placeholder="Дата покупки">
				</div>
			</div>
		</div>

		<div class="page-header">
			<div class="form-group">
				<label class="control-label" for="productName">Добавить запись</label>
			
					<div class="row">
						<div class="col-md-5">
							{{> inputAutocomplete settings=settingsItems id="recordItem" class="form-control" placeholder="Название товара" name="recordItem" data-supplier-id="new"}}
						</div>
                        {{#if realItemAdded}}
                            <div class="col-md-1">
                                <input type="number" class="form-control" id="countValue" name="countValue" placeholder="Кол-во" value="1">
                            </div>
                            <div class="col-md-1">
                                <input type="number" class="form-control" id="countValueLabel" name="countValueLabel" placeholder="Кол-во" readonly>
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control" id="priceValue" name="priceValue" placeholder="Цена вопроса">
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control" id="sumRecord" name="sumRecord" placeholder="Сумма" readonly>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-primary" data-action='addRecord'>
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        {{/if}}
					</div>
			</div>
		</div>

		{{#if recordsCount}}
            <div class="page-header">
                <h4>Товары</h4>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th>Сумма : {{purchaseSum}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each recordsItem}}
                        {{> record}}
                    {{/each}}
                </tbody>
            </table>
		{{/if}}
	</form>
</template>

<!-- <div class="form-group">
				<label class="control-label" for="productName">Добавить новый продукт</label>
				<div class="row">
				  				<div class="col-md-10">
				  					<input name="productName" id="productName" type="text" value="" placeholder="Name your product" class="form-control"/>
				  				</div>
				  				<div class="col-md-2">
				  					<input type="submit" value="Submit" class="btn btn-primary"/>
				  				</div>
				  			</div>
			</div> -->


		<!-- records
		{{> purchaseRecords purchaseId=purchaseId}} -->

		<!-- <div class="form-group">
			<label class="control-label" for="address">Адрес</label>
			<div class="controls">
				<input name="address" id="address" type="text" value="" placeholder="Адрес магазина" class="form-control"/>
			</div>
		</div> -->
