<template name="purchasesList">
	<div class="page-header">
		<div class="row">
			<div class="col-md-4">
				<h1>Последние покупки</h1>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-primary no-wrap" data-action="gotoAddPurchase"><span class="glyphicon glyphicon-plus"></span> Добавить покупку</button>
			</div>
		</div>
    </div>
	<div class="panel panel-default">
  		<div class="panel-body">
			<div class="purchases">
				{{#each purchases}}
					{{> purchaseItem}}
				{{/each}}
			</div>
		</div>
	</div>
</template>