<template name="headerSearch">
	<header>
        
        <div class="row">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <div class="nav pull-right">
                            {{> loginButtons}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        {{#if isLogged}}
        <div class="row">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="{{pathFor 'addPurchase' }}" class="discuss btn">Add  purchase</a></li>
                <li><a href="{{pathFor 'addShop' }}" class="discuss btn">Add  shop</a></li>
                <li><a href="{{pathFor 'shopsList' }}" class="discuss btn">List shop</a></li>
                <li><a href="#">O ...</a></li>
            </ul>
        </div>
        {{/if}}
        
		<!-- <div class="navbar navbar-default" role="navigation">
		   <div class="navbar-header" id="headerSearchDiv">
		   </div>
		    <div class="navbar-collapse collapse">
		   		{{#if isLogged}}
			        <ul class="nav navbar-nav">
			        	<li class="active"><a href="{{pathFor 'addPurchase' }}" class="discuss btn">Add  purchase</a></li>
			            <li class="active"><a href="{{pathFor 'addShop' }}" class="discuss btn">Add  shop</a></li>
			            <li class="active"><a href="{{pathFor 'shopsList' }}" class="discuss btn">List shop</a></li>
			        </ul>
		        {{/if}}
		        <ul class="nav navbar-nav navbar-right">
		            {{> loginButtons}}
		        </ul>
		    </div>
		</div> -->   
	</header>
</template>		