<template name="searchLayout">
   {{> headerSearch}}

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1 class="text-center">PRICER</h1>
      </div>
      {{> search}}
    </div>
   <!-- <div class="container">
      <div class="page-header">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">1</div>
          <div class="col-md-4">2</div>
          <div class="col-md-4">3</div>
        </div>
      </div>
    </div> -->
    
    <div id="footer">
      <div class="container">
        <p class="text-muted">2015 &copy; AVT</p>
      </div>
    </div>
  
  
</template>

<!--<template name="searchLayout">
	<div class="container">
		{{> headerSearch}}
		<div id="main" class="container">
			{{> yield}}
		</div>
	</div>
</template>-->