<template name="searchLayout">
  <div class="container">
      {{> headerSearch}}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Marketing stuff!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        {{> yield}}
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->
  
</template>

<!--<template name="searchLayout">
	<div class="container">
		{{> headerSearch}}
		<div id="main" class="container">
			{{> yield}}
		</div>
	</div>
</template>-->